{% extends 'base-back.html.twig' %}

{% block title %}Materiel {% endblock %}

{% block body %}
    <h1>Materiel </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id materiel</th>
                <th>Libelle</th>
                <th>Type</th>
                <th>Prix achat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for materiel in materiels %}
            <tr>
                <td>{{ materiel.id_Mat }}</td>
                <td>{{ materiel.libelle }}</td>
                <td>{{ materiel.type }}</td>
                <td>{{ materiel.prixAchat }}</td>
                <td>
                    <a href="{{ path('app_materiel_controller_back_edit', {'id_mat': materiel.id_mat}) }}">edit</a>
                    
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
            {{ include('materiel_controller_back/_delete_form.html.twig') }}
        {% endfor %}
        </tbody>
    </table>
     

    <a href="{{ path('app_materiel_controller_back_new') }}">Create new</a>
{% endblock %}
