{% extends 'base-back.html.twig' %}

{% block title %}Fournisseur{% endblock %}

{% block body %}
    <h1>Fournisseur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id fournisseur</th>
                <td>{{ fournisseur.id_F }}</td>
            </tr>
            <tr>
                <th>Nom fournisseur</th>
                <td>{{ fournisseur.nomF }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_fournisseur_index') }}">back to list</a>

    <a href="{{ path('app_fournisseur_edit', {'id_f': fournisseur.id_f}) }}">edit</a>

    {{ include('fournisseur/_delete_form.html.twig') }}
{% endblock %}
