{% extends 'base.html.twig' %}

{% block title %}Users index{% endblock %}

{% block body %}
    <h1>Users index</h1>
   
        <div class="mb-3">
         
             Vous etes connecte comme {{ app.user.userIdentifier }} {#}<a href="{{ path('app_logout') }}">Logout</a> {#}
        </div>
    {#}{% endif %} {#}
   {#} <a href="{{ path('app_logout') }}">logout</a> {#}

     <table class="table">
        <thead> 
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Nom_user</th>
                <th>Prenom_user</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in resultOfSearch %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                {# <td>{{ user.roles ? user.roles|json_encode : '' }}</td>    #}
                 <td>
                       {% for role in user.roles %}
                            {% if role == "ROLE_USER" %}
                                Utilisateur
                            {% elseif role == "ROLE_EDITOR" %}
                                Editeur
                            {% elseif role == "ROLE_ADMIN" %}
                                Administrateur
                            {% endif %}
                        {% endfor %}
                    </td>

                <td>{{ user.password }}</td>
                <td>{{ user.NomUser }}</td>
                <td>{{ user.PrenomUser }}</td>
                <td>
                    <a href="{{ path('app_users_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_users_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   {#  <a href="{{ path('app_users_new') }}">Create new</a> #} 
   {#} <a href="{{ path('app_logout') }}">logout</a> {#}

{% endblock %}
