{% extends 'back.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    <h1>Users</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
              {#}  <td>{{ user.roles ? user.roles|json_encode : '' }}</td> {#}
               <td>
                       {% for role in user.roles %}
                            {% if role == "ROLE_USER" %}
                                Utilisateur
                            {% elseif role == "ROLE_EDITOR" %}
                                Editeur
                            {% elseif role == "ROLE_ADMIN" %}
                                Administrateur
                            {% endif %}
                        {% endfor %}
                    </td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Nom_user</th>
                <td>{{ user.NomUser }}</td>
            </tr>
            <tr>
                <th>Prenom_user</th>
                <td>{{ user.PrenomUser }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_users_index') }}">back to list</a>

    <a href="{{ path('app_users_edit', {'id': user.id}) }}">edit</a>

    <li><a href="{{path('app_reclamation_index')}}">Reclamation</a></li>

    {{ include('users/_delete_form.html.twig') }}
{% endblock %}
